nav {
   margin-top: 45px;
   margin-left: 15vw;
   margin-right: 5%;
}

nav ul{
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: wrap-reverse;

   list-style: none;
   text-decoration: none;
}

nav li {
   border-radius: 15px 15px 0 0;
   background-color: #EE0000aa;
   font-size: 1.7vw;
   color: lightgrey;

   padding: 3px 3px 3px;
   margin: 4px 7px 0 1px;
   
   text-decoration: none;
   list-style: none;
}

nav a {
   color: white;
   user-select: none;
   list-style: none;
   text-decoration: none;
}

nav a:hover {
   color: red;
   list-style: none;
   text-decoration: none;
}

nav a:visited {
   color: white;
   list-style: none;
   text-decoration: none;
}

nav a:visited:hover {
   color: red;
   list-style: none;
   text-decoration: none;
}
