

body {
   background-color: black;
   padding: 0;
   margin: 0;
}

#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

#title_bar {
   color: white;
   font-size: 26px;
   text-align: center;
}

main {
   margin-left: 15%;
   margin-right: 10%;

   padding-bottom: 15px;

   background: inherit;
   background-color: #77777777;

   border-style: solid;
   border-width: 1px;
}

footer {
   font-size: 26px;
   background-color: #77777777;

   border: solid 1px;
   border-radius: 0 0 15px 15px;

   margin-top: 1px;
   margin-left: 15%;
   margin-right: 10%;
   margin-bottom: 15px;
   
   min-height: 50px;
}

main {
   margin-left: 15%;
   margin-right: 10%;

   padding-left: 5px;
   background-color: #77777777;

   border: solid 1px;
}

h2 {
   color: white;
}

p {
   font-size: 18px;
   color: white;
}
