
body {
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
}

main {
   margin: 35px 10% 0 10%;
}

a {
   text-decoration: none;
   color: green;
}

article {
   padding: 1% 0 5% 5%;
}

video {
   height: 45vh;
}

#LANG {
}

@media (hover: none) {
   * {
      font-size: 2vh;
   }

   video {
      width: 45vw;
   }
}
