

body {
   background-color: black;
   padding: 0;
   margin: 0;
}

#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

#title_bar {
   color: white;
   font-size: 2vw;
   text-align: center;
}

main {
   margin-left: 35%;
   margin-right: 1vw;
}

@media (min-width: 801px) {
   main {
      margin-left:  20%;
      margin-right: 5vw;
   }
}

main {
   padding-bottom: 15px;

   background: inherit;
   background-color: #77777777;

   border-style: solid;
   border-width: 1px;
}

footer {
   font-size: 26px;
   background-color: #77777777;

   border: solid 1px;
   border-radius: 0 0 15px 15px;

   margin-left: 20%;
   margin-right: 5vw;

   padding-left: 15px;
   
   min-height: 50px;
}

main {

   padding-left: 5px;
   background-color: #77777777;

   border: solid 1px;
}

h2 {
   color: white;
}

p {
   font-size: 18px;
   color: white;
}
