
#mainMenu
{
   padding: 0;

   width: 7vh;
   height: 100%;
   position: fixed;
   top: 0;

   background-color: darkblue;
}

#mainMenu ul
{
   margin: 0;
   padding: 0;
}

#mainMenu li
{
   margin: 0;
   padding: 0;
   list-style-type: none;
}

#mainMenu li:hover
{
   margin: 4px;
}


#mainMenu img 
{
   width: 100%;
}

#mainMenu p
{
   margin: 0;
   padding: 15px;
   left: 130%;
   bottom: 5px;
   color: white;
   border: solid 2px black;
   border-radius: 15px;
   background-color: darkblue;
   position: absolute;
   display: none;
}

#mainMenu li:hover p
{
   display: block;
}

#ProjectTabs
{ 
   margin: 0 5vh 10px 5vw;
}

#ProjectTabs ul
{
   height: 6vh;
   max-height: 6vh;

   padding-right: 4vw;
   border-radius: 15px 15px 0 0;
   background-color: darkblue;
   list-style-type: none;
   
   display: flex;
   flex-direction: row;
   text-align: center;
}

#ProjectTabs li
{
   display: relative;
   width: 100%;
}

#ProjectTabs li:hover
{
   font-size: 170%;
   border-right: solid 5px black;
   border-left: solid 5px black;
}
