nav {
   position: fixed;

   background-color: #77777777;

   border: solid 1px;
   border-radius: 15px 0 0 15px;
}

nav ul{
   align-self: center;
   list-style: none;
   text-decoration: none;
   
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 0;
   padding-bottom: 0;
}

nav li {
   color: lightgrey;

   margin-left: 2%;
   margin-top: 15px;
   margin-bottom: 5px;
   
   text-decoration: none;
   list-style: none;
}

@media only screen and (min-width: 50px) {

   nav {
      left: 5.5vw;
      right: 65%;
   }

   nav li {
      font-size: 3.5vw;
   }
}

@media only screen and (min-width: 800px) {
   
   nav {
      left: 5.5vw;
      right: 80%;
   }

   nav li {
      font-size: 1.5vw;
   }
}

nav a {
   color: white;
   user-select: none;
   list-style: none;
   text-decoration: none;
}

nav a:hover {
   margin-left: 5px;

   color: red;
   list-style: none;
   text-decoration: none;
}

nav a:visited {
   color: white;
   list-style: none;
   text-decoration: none;
}

nav a:visited:hover {
   color: red;
   list-style: none;
   text-decoration: none;
}


